.video-grid {
  grid-template-columns: repeat(8, 1fr);
  display: grid;
  column-gap: 5px;
  row-gap: 10px;
  padding: 15px;
}

.video-poster {
  width: 130px;
  height: 190px;
  transition: all 0.3s;
  transform: scale(1);
}

.video {
  margin: 10;
  position: relative;
}

.video-poster:hover {
  transform: scale(1.1);
}

.poster-info {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}
